.form {
  color: #FFFFFF;
  display: flex;
  margin-top: 1rem;
}

.input {
  background: none;
  border: none;
  color: #FFFFFF;
  font-family: monospace;
  font-size: 1rem;
  flex: 1 0 auto;
  outline: none;
  padding: 0;
}
