.terminalContainer {
  border: 1px solid #84CE9E;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
}

.terminal {
  line-height: 1.3;
}

.command {
  color: #ffffff;
}

.sceneName {
  color: #E4C69D;
}
