.app {
  background-color: #252A30;
  color: #84CE9E;
  height: 100vh;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
}
